/*
 * Unpublished work © 2019 DXC Technology Company.
 * All rights reserved.
 * Use, duplication, and/or alteration is subject to license terms.
 */

//navigation component variables
$nav-padding:                   $default-container-spacing;
$nav-link-padding:              ($default-spacing * .5) $default-spacing;
$nav-link-border-width:         $border-width;